[Desktop Entry]
Type=Application
Name=Wallpaper Info
Comment=A jelenlegi háttérkép adatainak megnyitása vi-ben
Exec=less /tmp/current_wallpaper_info.txt
Terminal=true
Icon=text-x-generic
Categories=Utility;TextEditor;
